main .titulo {
  font-size: 100px;
  padding: 50px;
  margin-top: 50px;
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  font-family: 'Kanit', sans-serif; }

main .indeximg {
  width: 90%;
  margin: 2rem auto; }
  main .indeximg .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; }
    main .indeximg .gallery .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
    main .indeximg .gallery .gallery__item--1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3; }
    main .indeximg .gallery .gallery__item--2 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3; }
    main .indeximg .gallery .gallery__item--3 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 6; }
    main .indeximg .gallery .gallery__item--4 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 6; }
    main .indeximg .gallery .gallery__item--5 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 6;
      grid-row-end: 9; }
    main .indeximg .gallery .gallery__item--6 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 6;
      grid-row-end: 9; }

.navbar {
  width: 100%; }
  .navbar .logos {
    width: 25px;
    height: 25px; }

.productos {
  width: 100%; }
  .productos .row {
    display: flex;
    align-items: center;
    margin: 0%;
    margin-bottom: 30px; }
    @media screen and (max-width: 426px) {
      .productos .row {
        width: 425px; } }

.navbar {
  width: 100%; }
  .navbar .logos {
    width: 25px;
    height: 25px; }

.productos {
  width: 100%; }
  .productos .row {
    display: flex;
    align-items: center;
    margin: 0%;
    margin-bottom: 30px; }
    @media screen and (max-width: 426px) {
      .productos .row {
        width: 425px; } }

main .titulo {
  font-size: 100px;
  padding: 50px;
  margin-top: 50px;
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  font-family: 'Kanit', sans-serif; }

main .indeximg {
  width: 90%;
  margin: 2rem auto; }
  main .indeximg .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; }
    main .indeximg .gallery .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; }
    main .indeximg .gallery .gallery__item--1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3; }
    main .indeximg .gallery .gallery__item--2 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3; }
    main .indeximg .gallery .gallery__item--3 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 6; }
    main .indeximg .gallery .gallery__item--4 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 6; }
    main .indeximg .gallery .gallery__item--5 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 6;
      grid-row-end: 9; }
    main .indeximg .gallery .gallery__item--6 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 6;
      grid-row-end: 9; }

main .bestsellers h2 {
  font-size: 50px;
  padding: 30px;
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Kanit', sans-serif; }

main .bestsellers section {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center; }
  main .bestsellers section input:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  main .bestsellers section input:nth-of-type(1):checked ~ #carousel {
    --position: 3; }
  main .bestsellers section input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3; }
  main .bestsellers section input:nth-of-type(2):checked ~ #carousel {
    --position: 2; }
  main .bestsellers section input:nth-of-type(1) {
    grid-column: 4 /5;
    grid-row: 2 / 3; }
  main .bestsellers section input:nth-of-type(3):checked ~ #carousel {
    --position: 1; }
  main .bestsellers section input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3; }
  main .bestsellers section input:nth-of-type(4):checked ~ #carousel {
    --position: 4; }
  main .bestsellers section input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3; }
  main .bestsellers section input:nth-of-type(5):checked ~ #carousel {
    --position: 5; }
  main .bestsellers section #carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none; }
    main .bestsellers section #carousel div.item {
      position: absolute;
      width: 300px;
      height: 400px;
      background-color: coral;
      --r: calc(var(--position) - var(--offset));
      --abs: max(calc(var(--r) * -1), var(--r));
      transition: all 0.25s linear;
      transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
      z-index: calc((var(--position) - var(--abs))); }
    main .bestsellers section #carousel div.item:nth-of-type(1) {
      --offset: 1;
      background-image: url(../img/bot1.jpg); }
    main .bestsellers section #carousel div.item:nth-of-type(2) {
      --offset: 2;
      background-image: url(../img/top4.jpg); }
    main .bestsellers section #carousel div.item:nth-of-type(3) {
      --offset: 3;
      background-image: url(../img/ac1.jpg); }
    main .bestsellers section #carousel div.item:nth-of-type(4) {
      --offset: 4;
      background-image: url(../img/bot3.jpg); }
    main .bestsellers section #carousel div.item:nth-of-type(5) {
      --offset: 5;
      background-image: url(../img/top1.jpg); }

main .mambalife h2 {
  font-size: 50px;
  padding: 30px;
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Kanit', sans-serif; }

main .subscribe {
  padding: 50px;
  margin-top: 25px;
  text-align: center; }

main .contactForm {
  padding: 20px;
  margin-top: 20px;
  width: 70%; }
  main .contactForm div {
    align-items: center;
    justify-content: center;
    text-align: center; }

header .navbar .container-fluid .gif {
  width: 30px;
  height: 30px; }
  @media screen and (max-width: 426px) {
    header .navbar .container-fluid .gif {
      display: none; } }

header .navbar .container-fluid .login {
  display: flex;
  align-content: flex-end; }

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px; }
  .footer .redes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center; }
    .footer .redes a {
      padding: 0 10px; }
    .footer .redes .logos {
      width: 20px;
      height: 20px;
      align-items: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Kanit', sans-serif; }
