main{
    .subscribe{
        padding: 50px;
        margin-top: 25px;
        text-align: center;
    }
    .contactForm{
        padding: 20px;
        margin-top: 20px;
        width: 70%;
        div{
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}