.footer{
    padding: 20px;
    display: flex;
    @include center;
    flex-direction: column;
    gap: 15px;
    .redes{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-content: center;
        a{
            padding: 0 10px;
        }
        .logos{
            @include sizes(20px, 20px);
            align-items: center;
        }
    }
}