header{
    .navbar{
        .container-fluid{
            .gif{
                @include sizes(30px, 30px);
                @media screen and (max-width: 426px){
                    &{
                        display: none;
                    }
                }
            }
            .login{
                display: flex;
                align-content: flex-end;
            }
        }
    }
}



